.frame7-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .frame7-frame {
    width: 100%;
    height: 946px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(248, 248, 248, 1);
  }
  .frame7-rectangle5 {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1441px;
    position: absolute;
  }
  .frame7-bar1 {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 92px;
    position: absolute;
  }
  .frame7-layer1 {
    top: 22px;
    left: 272px;
    width: 83px;
    height: 48px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame7-group1 {
    top: -0.00237647513858974px;
    left: 0px;
    width: 82.99996948242188px;
    height: 48.0047492980957px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame7-vector {
    top: 13.198054313659668px;
    left: 58.5897331237793px;
    width: 6px;
    height: 3px;
    position: absolute;
  }
  .frame7-vector01 {
    top: 9.617782592773438px;
    left: 58.689613342285156px;
    width: 5px;
    height: 3px;
    position: absolute;
  }
  .frame7-vector02 {
    top: 9.737820625305176px;
    left: 64.65099334716797px;
    width: 5px;
    height: 6px;
    position: absolute;
  }
  .frame7-vector03 {
    top: 13.198054313659668px;
    left: 70.6638412475586px;
    width: 6px;
    height: 3px;
    position: absolute;
  }
  .frame7-vector04 {
    top: 9.615428924560547px;
    left: 70.76372528076172px;
    width: 5px;
    height: 3px;
    position: absolute;
  }
  .frame7-vector05 {
    top: 9.737781524658203px;
    left: 76.72510528564453px;
    width: 5px;
    height: 6px;
    position: absolute;
  }
  .frame7-vector06 {
    top: 19.213436126708984px;
    left: 0px;
    width: 28px;
    height: 28px;
    position: absolute;
  }
  .frame7-vector07 {
    top: 0px;
    left: 29.33970832824707px;
    width: 25px;
    height: 34px;
    position: absolute;
  }
  .frame7-vector08 {
    top: 35.470272064208984px;
    left: 28.864831924438477px;
    width: 26px;
    height: 13px;
    position: absolute;
  }
  .frame7-vector09 {
    top: 19.213436126708984px;
    left: 57.351654052734375px;
    width: 26px;
    height: 28px;
    position: absolute;
  }
  .frame7-text {
    top: 51px;
    left: 1445px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Medium;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text02 {
    top: 51px;
    left: 1616px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Medium;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text04 {
    top: 48px;
    left: 1519px;
    color: var(--dl-color-default-skyblue);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: underline;
  }
  .frame7-frame32 {
    gap: 36px;
    top: 36px;
    left: 489px;
    width: 359px;
    display: flex;
    padding: 8px;
    position: absolute;
    align-items: flex-start;
  }
  .frame7-gnb {
    gap: 8px;
    display: flex;
    padding: 10px 0;
    align-items: center;
    border-color: rgba(46, 46, 46, 1);
    border-style: solid;
    border-width: 0 0 1px;
    justify-content: center;
  }
  .frame7-text06 {
    color: var(--dl-color-default-white);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: NanumBarunGothic;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-gnb1 {
    gap: 8px;
    display: flex;
    padding: 10px 0;
    align-items: center;
    border-color: rgba(46, 46, 46, 1);
    border-style: solid;
    border-width: 0 0 1px;
    justify-content: center;
  }
  .frame7-text08 {
    color: var(--dl-color-default-white);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: NanumBarunGothic;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-gnb2 {
    gap: 8px;
    display: flex;
    padding: 10px 0;
    align-items: center;
    border-color: rgba(46, 46, 46, 1);
    border-style: solid;
    border-width: 0 0 1px;
    justify-content: center;
  }
  .frame7-text10 {
    color: var(--dl-color-default-white);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: NanumBarunGothic;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-gnb3 {
    gap: 8px;
    display: flex;
    padding: 10px 0;
    align-items: center;
    border-color: rgba(46, 46, 46, 1);
    border-style: solid;
    border-width: 0 0 1px;
    justify-content: center;
  }
  .frame7-text12 {
    color: var(--dl-color-default-white);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: NanumBarunGothic;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-gnb4 {
    gap: 8px;
    display: flex;
    padding: 10px 0;
    align-items: center;
    border-color: rgba(46, 46, 46, 1);
    border-style: solid;
    border-width: 0 0 1px;
    justify-content: center;
  }
  .frame7-text14 {
    color: var(--dl-color-default-white);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: NanumBarunGothic;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-container1 {
    top: 234px;
    left: 730px;
    width: 461px;
    height: 518px;
    position: absolute;
    border-color: rgba(237, 237, 237, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
  }
  .frame7-text16 {
    top: 528px;
    left: 776px;
    color: var(--dl-color-default-darkgray);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text18 {
    top: 606px;
    left: 776px;
    color: var(--dl-color-default-darkgray);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-rectangle35 {
    top: 280px;
    left: 875px;
    width: 174px;
    height: 42px;
    position: absolute;
    border-color: rgba(224, 224, 224, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .frame7-text20 {
    top: 450px;
    left: 776px;
    color: var(--dl-color-default-darkgray);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text22 {
    top: 372px;
    left: 776px;
    color: var(--dl-color-default-darkgray);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text24 {
    top: 294px;
    left: 776px;
    color: var(--dl-color-default-darkgray);
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text26 {
    top: 529px;
    left: 891px;
    color: var(--dl-color-default-inputex);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text28 {
    top: 607px;
    left: 891px;
    color: var(--dl-color-default-inputex);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text30 {
    top: 451px;
    left: 891px;
    color: var(--dl-color-default-inputex);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text32 {
    top: 373px;
    left: 891px;
    color: var(--dl-color-default-inputex);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-text34 {
    top: 295px;
    left: 891px;
    color: var(--dl-color-default-darkgray);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-rectangle32 {
    top: 514px;
    left: 875px;
    width: 270px;
    height: 42px;
    position: absolute;
    border-color: rgba(224, 224, 224, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .frame7-rectangle33 {
    top: 592px;
    left: 875px;
    width: 270px;
    height: 42px;
    position: absolute;
    border-color: rgba(224, 224, 224, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .frame7-rectangle25 {
    top: 436px;
    left: 875px;
    width: 270px;
    height: 42px;
    position: absolute;
    border-color: rgba(224, 224, 224, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .frame7-rectangle34 {
    top: 358px;
    left: 875px;
    width: 270px;
    height: 42px;
    position: absolute;
    border-color: rgba(224, 224, 224, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }
  .frame7-text36 {
    top: 158px;
    left: 903px;
    color: rgba(16, 16, 16, 1);
    height: auto;
    position: absolute;
    font-size: 26px;
    font-style: Bold;
    text-align: left;
    font-family: NanumBarunGothic;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-footer {
    top: 872px;
    left: 0px;
    width: 1920px;
    height: 74px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame7-rectangle331 {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 74px;
    position: absolute;
    border-color: rgba(224, 224, 224, 1);
  }
  .frame7-text38 {
    top: 28px;
    left: 836px;
    color: rgba(134, 134, 134, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Medium;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame7-btnlogout {
    top: 47px;
    left: 1590px;
    width: 24px;
    height: 24px;
    position: absolute;
  }
  .frame7-btn-basic-blue {
    gap: 8px;
    top: 664px;
    left: 912px;
    width: 96px;
    display: flex;
    padding: 13px 32px;
    position: absolute;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    background-color: var(--dl-color-default-skyblue);
  }
  .frame7-text40 {
    color: var(--dl-color-default-white);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    text-decoration: none;
  }
  